{% extends 'layout.html' %}

{% block head %}
<link href="{{asset('/plugins/bootstrap-gtreetable/bootstrap-gtreetable.css')}}" rel="stylesheet">
<script type="text/javascript" src="{{ asset('/plugins/bootstrap-gtreetable/bootstrap-gtreetable.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/plugins/bootstrap-gtreetable/languages/bootstrap-gtreetable.zh-CN.js') }}"></script>
<script type="text/javascript" src="{{ asset('/plugins/js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/plugins/js/jquery.browser.min.js') }}"></script>
{% endblock %}

{% block script %}
<script type="text/javascript">
    jQuery('#gtreetable').gtreetable({
        'language':"{{ config.language }}",
        'manyroots':true,
        'draggable':true,
        'inputWidth':"300px",

        'source': function (pid) {
            return {
                type: 'POST',
                url: '{{ url('@trees') }}',
                data: { 'pid': pid },
                dataType: 'json',
                error: function(XMLHttpRequest) {
                    $.pao.alert(XMLHttpRequest.responseText, {icon: 2});
                }
            }
        },
        "onSave":function (oNode) {
            return {
                type: 'POST',
                url: !oNode.isSaved() ? '{{ url('@trees-create') }}' : URI('{{ url('@trees-update') }}').addSearch({'id':oNode.getId()}).toString(),
                data: {
                    pid: oNode.getParent(),
                    name: oNode.getName(),
                    position: oNode.getInsertPosition(),
                    related: oNode.getRelatedNodeId()
                },
                dataType: 'json',
                error: function(XMLHttpRequest) {
                    $.pao.alert(XMLHttpRequest.responseText, {icon: 2});
                }
            };
        },
        "onDelete":function(oNode) {
            return {
                type: 'POST',
                url: URI('{{ url('@trees-delete') }}').addSearch({'id':oNode.getId()}).toString(),
                dataType: 'json',
                error: function(XMLHttpRequest) {
                    $.pao.alert(XMLHttpRequest.responseText, {icon: 1});
                }
            };
        },
        "draggable" : true,
        "onMove":function(oSource, oDestination, position) {
            return {
                type: 'POST',
                url: URI('{{ url('@trees-update') }}').addSearch({'id':oSource.getId()}).toString(),
                data: {
                    pid: oDestination.getId()
                },
                dataType: 'json',
                error: function(XMLHttpRequest) {
                    $.pao.alert(XMLHttpRequest.responseText, {icon: 2});
                }
            };
        }

    });

    $(document).ready(function() {
        $('.editable').editable();
    });
</script>
{% endblock %}

{% block content %}
    <!--TAB Panel start -->
    {% include 'header.html'%}
    <!--TAB Panel end -->

<div class="row tab-content">

    <!--TAB create-->
    <div id="create" class="col-md-8 col-md-offset-2 tab-pane">
    <form action="{{ url('@trees-create') }}" method="POST" class="form-horizontal">
        <fieldset>
            <legend>{{ lang('create')~title }}</legend>
            {{ forms.input('tag') }}
            {{ forms.input('name') }}
            {{ forms.radio('status') }}
            {{ forms.submit() }}
        </fieldset>
    </form>
    </div>
    <!--TAB create end-->

    <!--TAB update-->
    <div id="update" class="col-md-8 col-md-offset-2 tab-pane">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group-xs pull-right panel">
                    <!--
                    <a href="#" class="btn btn-success btn-create" data-do="create">{{ lang.create }}</a>
                    <a href="#" class="btn btn-primary btn-update" data-do="update">{{ lang.update }}</a>
                    <a href="#" class="btn btn-danger btn-delete" data-do="delete">{{ lang.delete }}</a>
                    -->
                </div>
                <div class="panel-title">{{ lang.menu.trees }}</div>
            </div>
            <div class="panel-body">
                <div id="trees">
                    <table class="table gtreetable" id="gtreetable"><thead><tr><th>根目录</th></tr></thead></table>
                </div>
            </div>
        </div>
    </div>
    <!--TAB update end-->

    <!--TAB index-->
    <div id="index" class="tab-pane col-md-6 col-md-offset-3 active">
        <div id="table">
            <table class="table table-striped table-bordered table-hover table-list" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th>{{lang.id}}</th>
                    <th>{{lang.tag}}</th>
                    <th>{{lang.name}}</th>
                    <th>{{lang.status}}</th>
                    <th class="text-center">{{lang.operate}}</th>
                </tr>
                </thead>
                <tbody>
                <form method="POST">
                    {% for v in trees %}
                        <tr>
                            <td>{{v.id}}</td>
                            <td>{{v.tag}}</td>
                            <td>{{v.name}}</td>
                            <td>{{forms.status(v.status, v.id)}}</td>
                            <td class="text-center">{{forms.operate(v.id, v.name)}}</td>
                        </tr>
                    {%endfor%}
                </form>
                </tbody>
            </table>

            <hr />

            <table class="table table-bordered " cellspacing="0"
                   width="100%">
                <tbody>
                        <tr>

                            <td>{{lang.id}}</td>
                            <td>{{ forms.edit('tag') }}</td>
                            <td>{{ forms.edit('name') }}</td>
                            <td>{{lang.status }}</td>
                            <td class="text-center">{{ forms.submit(lang.create, 'btn-xs') }}</td>
                        </tr>
                </tbody>
            </table>
        </div>
</div>
{% endblock %}