{% extends 'admin/layout.html' %}

{% block content%}
<!--TAB Panel start -->
{% include 'admin/header.html' %}
<!--TAB Panel end -->
<div class="row tab-content">
    <!--TAB create-->
    <div id="create" class="tab-pane col-md-10 col-center">
                        <form class="form-horizontal" action="{{url('@group_create')}}">
                            <fieldset>
                                {{ forms.text('tag') }}
                                {{ forms.text('name') }}
                                {{ forms.text('nickname') }}
                                {{ forms.radio('status', 1) }}
                <div class="row">
                    <div class="col-md-10">
                    <table class="table table-striped table-bordered table-hover table-list" cellspacing="0"
                           width="100%">
                        <caption>{{ lang.permission }}{{ lang.config }}</caption>
                        <thead>
                            <tr>
                                <th>{{ lang.module }}</th>
                                <th>{{ lang.permission }}</th>
                                <th class="text-center">{{ lang.select }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mod in menu %}
                            <tr>
                                <th class="info">{{ lang(mod.name) }}</th>
                                <td>
                                    {% for route in mod.routes %}
                                        {{ forms.checkbox(route.tag, 0, lang(route.name)) }}
                                    {% endfor %}
                                </td>
                                <td class="text-center"><div class="checkbox"><input id="selectAll-{{ loop.index }}" type="checkbox" onclick="$(this).parents('tr').find('input[type=checkbox]').prop('checked', this.checked);" /><label for="selectAll-{{ loop.index }}"></label></div></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        <hr />
                    </div>
                </div>

                {{ forms.submit() }}
            </fieldset>
        </form>
    </div>
    <!--TAB create-->

    <!--TAB update-->
    <div id="update" class="tab-pane col-md-10 col-center">
            <form action="{{url('@group_update')}}" class="form-horizontal"></form>
    </div>
    <!--TAB update end-->

    <!--TAB index-->
    <div id="index" class="tab-pane col-md-6 col-center active">
        <div id="table">
            <table class="table table-striped table-bordered table-hover table-list" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th>{{lang.id}}</th>
                    <th>{{lang.tag}}</th>
                    <th>{{lang.name}}</th>
                    <th>{{lang.nickname}}</th>
                    <th>{{lang.status}}</th>
                    <th class="text-center">{{lang.operate}}</th>
                </tr>
                </thead>
                <tbody>
                <form method="POST">
                {% for v in group%}
                    <tr>
                        <td>{{v.id}}</td>
                        <td>{{v.tag}}</td>
                        <td>{{v.name}}</td>
                        <td>{{v.nickname}}</td>
                        <td>{{forms.status(v.status, v.id)}}</td>
                        <td class="text-center">{{forms.operate(v.id, v.name)}}</td>
                    </tr>
                {%endfor%}
                </form>
                </tbody>
            </table>
        </div>
</div>
{% endblock %}