<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{lang.TITLE}}</title>
    <link href="{{asset('css/login.css')}}" rel="stylesheet">
</head>
<body>
<div class="top">
    <div class="title">{{lang.TITLE}}</div>
    <ul>
        <li><a href="#">中文</a></li>
        <li><a href="#">English</a></li>
    </ul>
</div>
<div class="body">
    <span class="logo"></span>
    <div class="login">
        <ul>
            <li><input name="username" type="text" class="username" placeholder="{{ lang.form.input~lang.username }}" /></li>
            <li><input name="password" type="text" class="password" placeholder="{{ lang.form.input~lang.password }}" /></li>
            <li class="captcha"><span><input name="captcha" type="text" /></span><cite>X3D5S</cite></li>
            <li>
                <button name="submit" type="submit" class="submit"> {{ lang.signin }} </button>
                <label><input name="remember" type="checkbox" value checked="checked" />{{ lang.form.remember_password }}</label>
                <label><a href="#">{{ lang.form.forget_password }}</a></label></li>
        </ul>
    </div>
</div>
<div class="copyright">{{ lang.COPYRIGHT|raw }}</div>
</body>
</html>

